 * {
      margin: 0;
      padding: 0;
    }

    body {
      padding-left: 30px;
    }

    #example {
      width: 300px;
      height: 200px;
      overflow: auto;
      border: 25px solid #E8C48F;
      padding: 20px;
    }

    .key {
      cursor: pointer;
      text-decoration: underline;
    }