*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ccc;
}

.slider {
  position: relative;
  border-radius: 5px;
  background: rgb(232, 233, 171);
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 100px auto;
}

.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
}